body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#cart-items {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item p {
    margin: 0;
    font-size: 16px;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

/* Кнопки */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #45a049;
}

.empty-cart {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #999;
}